
*
input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
}

.form-control + .form-control {
  margin-top: 1em;
}

{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: Dancing Script, sans-serif;
}
.header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 15px 30px;
 background: #23242b;
 color: #fff;
}
.u-name {
 font-size: 20px;
 padding-left: 17px;
}
.u-name b {
 color: #127b8e;
}
.header i {
 font-size: 30px;
 cursor: pointer;
 color: #fff;
}
.header i:hover {
 color: #127b8e;
}
.user-p {
 text-align: center;
 padding-left: 10px;
 padding-top: 25px;
}
.user-p img {
 width: 100px;
 border-radius: 50%;
}
.user-p h4 {
 color: #ccc;
 padding: 5px 0;

}
.side-bar {
 width: 250px;
 background: #262931;
 min-height: 100vh;
 transition: 500ms width;
}
.body {
 display: flex;
}
.section-1 {
 width: 100%;
 background: url("");
 background-size: cover;
 background-position: center;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.section-1 h1 {
 color: #fff;
 font-size: 60px;
}
.section-1 p {
 color: #127b8e;
 font-size: 20px;
 background: #fff;
 padding: 7px;
 border-radius: 5px;
}
.side-bar ul {
 margin-top: 20px;
 list-style: none;
}
.side-bar ul li {
 font-size: 16px;
 padding: 15px 0px;
 padding-left: 20px;
 transition: 500ms background;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}
.side-bar ul li:hover {
 background: #127b8e;
}
.side-bar ul li a {
 text-decoration: none;
 color: #eee;
 cursor: pointer;
 letter-spacing: 1px;
}
.side-bar ul li a i {
 display: inline-block;
 padding-right: 10px;
 font-size: 23px;
}
#navbtn {
 display: inline-block;
 margin-left: 70px;
 font-size: 20px;
 transition: 500ms color;
}
#checkbox {
 display: none;
}
#checkbox:checked ~ .body .side-bar {
 width: 60px;
}
#checkbox:checked ~ .body .side-bar .user-p{
 visibility: hidden;
}
#checkbox:checked ~ .body .side-bar a span{
 display: none;
}
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sidebar.logo
{
  color: #fff;
  display:flex;
  height:50px;
  width:100%;
}
.full-page
{
    height: 100vh;
    width: 100%;
    background: linear-gradient(white,rgba(0,0,0,0.9));
    position: absolute;
}
.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 10px;
}
.logo a
{
    text-decoration: none;
    color: coral;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
}
nav
{
    flex: 1;
    text-align: right;
    padding-top: 6px;
}
nav ul
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 70px;
}
nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: coral;
    font-family: sans-serif;
}
nav ul li button
{
    font-size: 20px;
    color: coral;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}
.sub-page
{
    width: 1266px;
    height: 550px;
    position: absolute;
    background: url(abc.png);
    background-size: cover;
    background-position: center;
    left: 50px;
    top: 70px;
}
.overlay
{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.5),white);
    opacity: 0;
    transition: 1s;
}
.sub-page:hover .overlay
{
    opacity: 1;
}
.text
{
    text-align: center;
    color: white;
    padding-right: 350px;
    padding-left: 350px;
    font-size: 20px;
    font-family: 'Chilanka', cursive;
    transform: translateY(-220%);
    opacity: 0;
    transition: 1s;
}
.sub-page:hover .text
{
    opacity: 1;
}
#login-form
{

    display: none;
}
.form-box
{
    width: 300px;
    height: 400px;
    position: relative;
    top: 90px;
    left: 210px;
    background: rgba(0,0,0,0.6);
}
.close
{
    position: relative;
    left: 270px;
    bottom: 0;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus
{
    color: red;
    cursor: pointer;
}
.main-heading
{
    color: orangered;
    padding-bottom: 20px;
}
.form
{
    position: relative;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    bottom: 20px;
}
.form input, .form1 input
{
    font-family: sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 14px;
}
.form button, .form1 button
{
    font-family: sans-serif;
    width: 100%;
    color: white;
    font-size: 14px;
    cursor: pointer;
    padding: 15px;
    border: none;
    background: coral;
}
.form .asking
{
    font-size: 12px;
    margin: 15px 0 0;
    color: white;
}
.form .asking a
{
    color: orangered;
    text-decoration: none;
}
#register-form
{
    display: none;
}
.form-box1
{
    width: 300px;
    height: 400px;
    position: absolute;
    bottom: 90px;
    left: 860px;
    background: rgba(0,0,0,0.6);
}
.main-heading
{
    color: orangered;
    padding-bottom: 20px;
}
.form1
{
    position: relative;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    bottom: 20px;
}
/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */
